<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Genre Predicted CS322</title>
</head>
<body>
    <div class="container">
        <h2 class="title">
          <span class="title-word title-word-1">Predicted</span>
          <span class="title-word title-word-2">Genre</span>
          <span class="title-word title-word-3">is</span>
          <span class="title-word title-word-4">{{output}}</span>
        </h2>
      </div>
</body>

